.hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
     url(../../images/vegetables2.jpg);
    background-size: cover;
    background-position: right;
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.App__name {
    color: white;
    text-shadow: 2px 2px 4px rgb(165, 61, 61);
    font-size: 48px;
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
}

.App__intro p {
    color: white;
    text-shadow: 2px 2px 4px rgb(165, 61, 61);
    width: 80%;
    padding: 5px;
    margin: auto;
    font-size: 20px;
}
.App__intro ul li {
    color: white;
    text-shadow: 2px 2px 4px rgb(165, 61, 61);
    width: 75%;
    margin: auto;  
    list-style-position: inside; 
}

.App_preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.join {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
.join {
  display: inline-block;
  position: relative;
  padding: 20px 35px;
  top: 0;
  font-size: 28px;
  border: 1px solid rgb(255, 0, 140);
  color: rgb(179, 230, 179);
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.join:hover {
    background-color: white;
    color: black;
    /* color: black; */
  /* top: -5px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg); */

}

.join:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba( 20, 224, 133, 1 );
}

.zip-form button {
    cursor: pointer;
    color: #168042;
    background-color: transparent;
    border: 1px solid rgb(255, 0, 140);
}

.zip-form button:hover {
    font-weight: bold;
}

.sum {
    font-size: 28px;
    color:rgb(255, 0, 140);    
}

h2 {
    margin-bottom: 0px;
}

.header {
    background-color:  white;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

/* .header__login {
    color: #168042;
    text-decoration: none;
    border: 1px solid rgb(255, 0, 140);
    padding: 10px 20px;
} */

.demo-button button {
    color: black;
    text-decoration: none;
    border: 1px solid rgb(255, 0, 140);
    padding: 10px 20px;
}

.demo-button button:hover {
    color:  rgb(255, 0, 140);
}

.demo-button button:active {
    color:  rgb(255, 0, 140);
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
    background: rgba( 20, 224, 133, 1 );
}

.demo-button {
    margin: 0px;
    padding: 0px;
}

.header__login:hover {
    font-weight: bold;
}

.header__login:active {
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
    background: rgba( 20, 224, 133, 1 );
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}


.loader span{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(255, 0, 140);
  margin: 35px 10px;
}

.loader span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
}

.loader span:nth-child(2){
  animation: bounce 1s ease-in-out 0.33s infinite;
}

.loader span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
  0%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50%{
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}