.EditListingForm {
    padding: 0 20px;
}

.EditListingForm div input, .EditListingForm div textarea {
    margin-bottom: 1em;
    border: none;
}

.EditListingForm div label {
    padding-bottom: .4em;
}

.EditListingForm .options .radio-button input[type=radio] {
    display: none;
}

.EditListingForm .options .radio-button label {
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(255, 0, 140);
    color: black;
    padding: .5em;
    cursor: pointer;
    margin-right: .3em;
    margin-bottom: 1em;
}

.EditListingForm .options .radio-button label:hover {
    color: rgb(255, 0, 140);
    font-weight: bolder;
}

.EditListingForm .options .radio-button input[type=radio]:checked + label {
    background: rgba(20, 244, 133, 1);
}

.EditListingForm button {
    display: block;
    margin: 0 auto 2em;
}



@media only screen and (min-width: 768px) {
    .EditListingForm {
        width: 60%;
    }
}