.SearchBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SearchBox form {
    width: 50%;
    margin: 15px;
    text-align: center;
}

.SearchBox form input {
    width: 50%;
    text-align: center;
    border: 0px;
    border-bottom: 1px solid;
    outline: none;
    background-color: white;
    font-size: 1.3em;
}