.FilterOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

fieldset {
  width: 50%;
}

 label {
    float: left;
    display: block;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
} 