@import url('https://fonts.googleapis.com/css?family=Vollkorn');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: #168042;
}

.red {
  color: red
}

p {
  color: gray;
}

input {
    border: 1px solid gray;
    background-color: rgb(218, 232, 218);
    padding: 10px;
}

form {
    margin: auto;
}

form button {
    cursor: pointer;
    color: #168042;
    background-color: transparent;
}

form button:hover {
    font-weight: bold;
}

h2 {
  text-align: center;
}

nav a:active {
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
    background: rgba( 20, 224, 133, 1 );
}

nav a:hover {
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

a:visited {
  color: inherit;
}

a:hover {
  color: rgb(255, 0, 140);
}

a:active {
  color: rgb(255, 0, 140);
  font-weight: bold;
}

form button {
    padding: 10px;
    margin: 5px;
}

form div {
    display: flex;
    flex-direction: column;
}

textarea {
    border: 1px solid gray;
    background-color: rgb(218, 232, 218);
    padding: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.radio-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

label {
    float: left;
    display: block;
} 

input[type=radio],
input.radio {
  float: left;
  clear: none;
}
